html, body{
    background: #353948;
    
}

h2{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #cccccc;
}

textarea{
    width: 600px;
    height: 450px;
    padding: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 53px;
    background: #353948;
    box-shadow: inset 11px 11px 18px #22252f,
                inset -11px -11px 18px #484d61;
    resize: none;
    border: none;
    outline: none;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #cccccc;
}

